.navigation-container {
  position: absolute;
  top: 0;
  height: 50px;
  left: 0;
  right: 0;
  background-color: #001A33;
}
.navigation-button-container {
  position: relative;
  float: left;
  color: #000000;
  background-color: #cccccc;
  padding: 5px;
  margin: 2px;
  outline: none;
}
