.active {
  color: green;
}

.background1 {
  background-color: #5ee0d2;
}

.background2 {
  background-color: #ff5046;
}

.col-left {
  background-color: #b2d9fd;
}

.col-middle {
  background-color: #76C7D7;
}

.col-right {
  background-color: #ff87f8;
}
