.body {
  margin: 0;
  padding: 0;
}
.material {
  font-family: 'Roboto', sans-serif;
}
.active {
  color: green;
}
/* Top Bar */
.top-bar,
.top-bar:before {
  position: relative;
  width: 100%;
  height: 90px;
  margin: 0;
}
.top-bar:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #e8f6ff;
}
.logoSpace {
  position: absolute;
  width: 15%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #e8f6ff;
}
.pixelFrameSpace {
  width: 50%;
  height: 100%;
  background-color: #00e797;
  margin: 0 auto;
}
.toolbarMenuSpace {
  position: absolute;
  width: 15%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #e8f6ff;
}
.special {
  position: relative;
  float: left;
  width: 10%;
  background-color: #2e2e2e;
}
/* Left Column */
.left-col,
.left-col:before {
  width: 33%;
}
.left-col {
  float: left;
}
.left-col:before {
  content: '';
  position: absolute;
  bottom: 0;
  z-index: -1;
  background-color: #e8f6ff;
}
/* Middle Column */
.middle-col,
.middle-col:before {
  width: 40%;
}
.middle-col {
  margin: 0 auto;
}
.middle-col:before {
  content: '';
  position: absolute;
  bottom: 0;
  z-index: -1;
  left: 33.3%;
  background-color: #9aff95;
}
.middle-col-text {
  position: absolute;
  top: 100px;
  bottom: 0;
  width: inherit;
  left: 33.3%;
}
.middle-col-text-area {
  width: inherit;
  height: 100%;
}
.text-editor-toolbar {
  top: 0;
}
/* Right Column */
.right-col,
.right-col:before {
  width: 26.3%;
  float: right;
}
.right-col {
  padding: 0;
  float: right;
}
.right-col:before {
  position: absolute;
  content: '';
  bottom: 0;
  z-index: -1;
  background-color: #e8f6ff;
}
.right-col-container {
  background-color: black;
  height: 100%;
  width: 100%;
  vertical-align: top;
  z-index: 1;
}
/* Card Items */
.card-1 {
  position: relative;
  height: 50px;
  padding: 6px;
  margin: 6px;
  -webkit-user-select: none;
}
.card-1-draggable {
  position: relative;
  float: left;
  height: 90%;
  width: 20px;
}
.card-1-content {
  position: relative;
  display: inline-block;
  height: 90%;
  width: 60%;
}
.card-1-delete {
  position: relative;
  float: right;
  height: 90%;
  width: 10%;
}
/* Pixels */
.pixel {
  float: right;
  height: 40px;
  width: 40px;
}
